<nav class='navbar navbar-inverse'>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#admin">Administrator Page</a></li>
            <li><a href="#about">About Page</a></li>

        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-md-2 col-lg-3 col-sm-1">

    </div>
    <div class="col-md-8 col-lg-6 col-sm-10">
        <h1 class="header" style="text-align:center">About the Alert System Application</h1>
        <div class="info">
        <ul class="aboutInfo" style="list-style: none">
            <li>The main goal of this application is to show how easy it is to set up an alert system in any setting</li>
            <li>How it works</li>
            <ul>
                <li>This is just a demo, but basically we are sending an alert to all the connected "users" that something has occurred</li>
                <li>There are two options for sending an alert, The general sends some preset values out as an alert, and anyone connected will receive it</li>
                <li>The same basic concept for the custom alert but you enter the fields yourself.  The type of the alert that is sent dictates what is shown for the connected alert receivers, for now that is just a change in the color of the screen.  But could be anything from sound to graphics.</li>
                <li>The fields required for the custom alert are dropdown boxes.</li>
            </ul>
            <li>Actual Application for this</li>
            <ul>
                <li>In a real world application, it will have the options to send a custom alert as well as be connected to CAP.</li>
                <li><a href="https://en.wikipedia.org/wiki/Common_Alerting_Protocol">Wiki CAP</a></li>
            </ul>
        </ul>
        </div>
    </div>
    <div class="col-md-2 col-lg-3 col-sm-1">

    </div>
</div>

